language:
  - scala

matrix:
  include:
    - jdk: oraclejdk8
      scala: 2.11.12
    - jdk: oraclejdk8
      scala: 2.12.4

jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

script:
  - sbt clean test
